@CHARSET "UTF-8";

body {
    font-family: 'Georgia',serif;
    font-size: 18px;
    line-height: 26px;
}


a:link {
    color: #F20021;
    text-decoration: none;
}
a:visited {
    color: #F20021;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a img {
    border-width: 0;
}

h1, h2, h3, h4, h5 , h6 {
	font-family: 'Droid Serif','Georgia';
}

q{
	font-style:italic;
}


#header{
	padding:10px 0;
}


#header a {
	color:black;
	text-decoration: none;
}

#header .title{
	margin-top:15px
}

#header .title h1{
	font-size: 55px;
	margin-bottom:12px; 
}

#header .title code{
	font-size:1em;
}	

.post-title, .page-title {
	margin:5px 0;
}

.post-title a , .page-title a{
	color:black;
}


.post-info{
    color: #666666;
    margin: 10px;
    font-size: 0.85em;
}


#foot {
    background-color: #ffebeb; /*#b27373*/ 
    color: #3E3636;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

.pagination {
	text-align:center;
}

.backToTop{
	float:right;
}


#footer {
    background-color: #3e3636;/*rgba(21, 25, 25, 0.8)*/;
    color: rgba(250, 250, 250, 0.8);
    padding-bottom: 1.625em;
}

.profile-img {
    float: left;
    margin: 0 5px 5px 0;
}

.licence{
	float: right;
	font-weight:bold;
}


p code, li code {
    background-clip: padding-box;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 2px 5px;
    white-space: nowrap;
    font-size: 0.8em;
}

pre {
    margin-bottom: 1.625em;
}

pre {
    background-color: #393939;
    border: 1px solid #393939;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
    color: #F2F2F2;
    font-family: "Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
    padding: 1.625em;
}