<div id="post" >
	<div class="grid">
		<div class="post col-1-1">
				
			<h1 class="post-title">{{ page.title }}</h1>
				
			<p class="post-info">
				<span class="post-date-publish">
					Publicado el {{ page.date | date: '%d/%m/%Y' }}   
				</span>
				<span> - </span>
				<span class="post-tags">
					{% if page.tags %}
					Etiquetas:
    					{% for tag in page.tags %}<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
  					{% endif %}
				</span>	
			</p>
				
			<div class="post-content">
				{{ content }}
			</div><!-- post-content -->
		</div>
	</div>	 
</div><!-- post -->
	
	
<div id="foot">
	<div class="grid">
		<div class="col-10-12">
			<p class="pagination">	
				{% if page.previous %}
				<span class="prev"><a rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></span>
				{% endif %}
				{% if page.previous and page.next %}
				<span class="pipe">|</span>
				{% endif %}
				{% if page.next %}
				<span class="next"><a rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></span>
				{% endif %}
			</p>
		</div>
				
		<div class="col-2-12">
			<p class="backToTop">
				<a href="{{ site.JB.archive_path }}">Archivo</a>
				<span class="pipe">|</span>
				<a href="#page">Subir</a>
			</p>
		</div>
	</div>
</div> <!-- foot -->
	
